[user]
    name = Cyril Cressent
    email = cyril@cressent.org
[color]
    ui = auto
[core]
    editor = vim
[format]
    pretty = format:%C(auto,yellow)%h %C(auto,blue)%<(12,trunc)%ad %C(auto,green)%aN %C(auto,red)%d %C(auto,reset)%s
[push]
    default = simple
[status]
    short  = true
    branch = true
[alias]
    br = branch
    co = commit
[url "git@github.com:"]
	insteadOf = https://github.com/
