[user]
    name = Cyril Cressent
    email = cyril@cressent.org
[color]
    ui = auto
[core]
    editor = vim
[format]
    pretty = oneline
[push]
    default = simple
[status]
    short  = true
    branch = true
[alias]
    br = branch
    co = commit
