*.errors
*.hi
*.o
*.pyc

.stack-work/

emacs/ac-comphist.dat
emacs/auto-save-list
emacs/elpa

tmux/.tmux/plugins/**
tmux/.tmux/resurrect

vim/.netrwhist
vim/bundle/**

weechat/.weechat/sec.conf
weechat/.weechat/weechat.log
weechat/.weechat/logs/**

xmonad/xmonad-x86_*
