*.errors
*.hi
*.o
*.pyc

emacs/ac-comphist.dat
emacs/auto-save-list
emacs/elpa

tmux/.tmux/plugins/**
tmux/.tmux/resurrect

vim/.netrwhist
vim/bundle/**

weechat/sec.conf
weechat/weechat.log
weechat/logs/**

xmonad/xmonad-x86_*
