[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/mutt-colors-solarized
	url = git://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/ghcmod-vim"]
	path = vim/bundle/ghcmod-vim
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
